<a href="https://colab.research.google.com/github/HelloJinny/python-for-beginner/blob/master/Chapter07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 리스트

In [ ]:
# Code 07-03
aa = []

for i in range(0, 4):
    aa.append(0)
hap = 0

for i in range(0, 4):
    aa[i] = int(input(str(i + 1) + "번째 숫자 : "))

for i in range(0, 4):
    hap = hap + aa[i]

print("합계 ==> %d" % hap)

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
합계 ==> 100

In [ ]:
409## SELF STUDY 7-1
# 값을 4개가 아닌 10개를 입력받아 합계를 출력
# 합계를 구하는 마지막 for 문 대신 while 문을 사용
aa = []

for i in range(0, 10):
    aa.append(0)
hap = 0

for i in range(0, 10):
    aa[i] = int(input(str(i + 1) + "번째 숫자 : "))

i = 0
while (i < 10):
    hap = hap + aa[i]
    i += 1

print("합계 ==> %d" % hap)

1번째 숫자 : 1
2번째 숫자 : 2
3번째 숫자 : 3
4번째 숫자 : 4
5번째 숫자 : 5
6번째 숫자 : 6
7번째 숫자 : 7
8번째 숫자 : 8
9번째 숫자 : 9
10번째 숫자 : 10
합계 ==> 55

In [ ]:
# Code 07-04
aa = []
bb = []
value = 0

for i in range(0, 100):
    aa.append(value)
    value += 2

for i in range(0, 100):
    bb.append(aa[99 - i])

print("bb[0]에는 %d이, bb[99]에는 %d이 입력됩니다." % (bb[0], bb[99]))

bb[0]에는 198이, bb[99]에는 0이 입력됩니다.

In [ ]:
## SELF STUDY 7-2
# 리스트 aa에 3의 배수 200개를 입력
# 리스트 bb에 리스트 aa의 역순으로 입력
# bb[0]과 b[199]의 값을 출력
aa = []
bb = []
value = 0

for i in range(0,200) :
    aa.append(value)
    value += 3

for i in range(0, 200) :
    bb.append(aa[199-i])

print(" bb[0]에는 %d이, bb[199]에는 %d이 입력됩니다." %(bb[0], bb[199] ))

 bb[0]에는 597이, bb[199]에는 0이 입력됩니다.

## 리스트 조작 함수

In [ ]:
# Code07-05
myList = [30, 10, 20]
print("현재 리스트 : %s" % myList)

myList.append(40)
print("append(40) 후의 리스트 : %s" % myList)

print("pop()으로 추출한 값 : %s" % myList.pop())
print("pop() 후의 리스트 : %s" % myList)

myList.sort()
print("sort() 후의 리스트 : %s" % myList)

myList.reverse()
print("reverse() 후의 리스트 : %s" % myList)

print("20값의 위치 : %d" % myList.index(20))

myList.insert(2, 222)
print("insert(2, 222) 후의 리스트 : %s" % myList)

myList.remove(222)
print("remove(222) 후의 리스트 : %s" % myList)

myList.extend( [77, 88, 77] )
print("extend([77, 88, 77]) 후의 리스트 : %s" % myList)

print("77값의 개수 : %d" % myList.count(77))

현재 리스트 : [30, 10, 20]
append(40) 후의 리스트 : [30, 10, 20, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 10, 20]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
20값의 위치 : 1
insert(2, 222) 후의 리스트 : [30, 20, 222, 10]
remove(222) 후의 리스트 : [30, 20, 10]
extend([77, 88, 77]) 후의 리스트 : [30, 20, 10, 77, 88, 77]
77값의 개수 : 2

In [ ]:
myList = [30, 10, 20]
newList = sorted(myList) # 리스트는 그대로 두고 정렬된 결과만 반환
print("sorted() 후의 myList : %s" % myList)
print("sorted() 후의 newList : %s" % newList)

sorted() 후의 myList : [30, 10, 20]
sorted() 후의 newList : [10, 20, 30]

## 2차원 리스트

In [ ]:
# Code07-06
list1 = []
list2 = []
value=1
for i in range(0, 3) : # 행 ↓
    for k in range(0, 4) : # 열 →
        list1.append(value)
        value += 1
    list2.append(list1)
    list1 = []

for i in range(0, 3) :
    for k in range(0, 4) :
        print("%3d" % list2[i][k], end = " ")
    print("")

  1   2   3   4
  5   6   7   8
  9  10  11  12

In [ ]:
# SELF STUDY 7-3
# 4행 5열의 2차원 리스트를 만들고,
# 0부터 3의 배수를 입력하고 출력
list1 = [ ]
list2 = [ ]
value=0
for i in range(0, 4) :
    for k in range(0, 5) :
        list1.append(value)
        value += 3
    list2.append(list1)
    list1 = []

for i in range(0, 4) :
    for k in range(0, 5) :
        print("%3d" % list2[i][k], end=" ")
    print("")

  0   3   6   9  12
 15  18  21  24  27
 30  33  36  39  42
 45  48  51  54  57

# 2. 튜플

In [ ]:
# SELF STUDY 7-4
# 2차원 튜플을 생성한 후 모든 값을 출력
# tt = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
tt = ((1, 2, 3),
      (4, 5, 6),
      (7, 8, 9))

for i in range(0, 3) :
    for k in range(0, 3) :
        print("%3d" %tt[i][k], end=" ")
    print("")

  1   2   3
  4   5   6
  7   8   9

In [ ]:
# 튜플과 리스트는 서로 변환할 수 있다.
# 튜플 → 리스트 → 튜플
myTuple = (10, 20, 30)
myList = list(myTuple)
myList.append(40)
myTuple = tuple(myList)
print(myTuple)

(10, 20, 30, 40)

# 3. 딕셔너리

In [ ]:
student1 = {'학번' : 1000, '이름' : '홍길동', '학과' : '컴퓨터학과'}
print(student1)

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [ ]:
# 연락처 추가
student1['연락처'] = '010-1111-2222'
print(student1)

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '010-1111-2222'}

In [ ]:
# 이미 존재하는 키를 사용하면 새로운 쌍이 추가되는 것이 아니라 기존값이 변경 (키는 유일해야 한다.)
student1['학과'] = '파이썬학과'
print(student1)

{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과', '연락처': '010-1111-2222'}

In [ ]:
# 딕셔너리 쌍 삭제 del(딕셔너리명[키])
del(student1['학과'])
print(student1)

{'학번': 1000, '이름': '홍길동', '연락처': '010-1111-2222'}

In [ ]:
# 동일한 키를 갖는 딕셔너리를 생성하지 않고 마지막에 있는 키가 적용 (키는 유일해야 한다.)
student1 = {'학번' : 1000, '이름' : '홍길동', '학과' : '파이썬학과', '학번' : 2000}
print(student1)

{'학번': 2000, '이름': '홍길동', '학과': '파이썬학과'}

### 딕셔너리 사용

In [ ]:
print(student1['학번'])
print(student1['이름'])
print(student1['학과'])

2000
홍길동
파이썬학과

In [ ]:
# 딕셔너리명.get(키) : 키로 값에 접근, 
student1.get('이름')

'홍길동'

In [ ]:
# 딕셔너리[키] : 없는 키를 호출하면 오류
# 딕셔너리명.get(키) : 없는 키를 호출하면 아무것도 반환하지 않는다.
student1.['주소']

In [ ]:
student1.get('주소')

In [ ]:
# 딕셔너리명.keys() : 딕셔너리의 모든 키를 반환
student1.keys()

dict_keys(['학번', '이름', '학과'])

In [ ]:
# dict_keys가 보기 싫으면 list(딕셔너리명.keys())
list(student1.keys())

['학번', '이름', '학과']

In [ ]:
# 딕셔너리명.values() : 딕셔너리의 모든 값을 리스트로 만들어 반환
# dict_keys가 보기 싫으면 list(딕셔너리명.values())
student1.values()

dict_values([2000, '홍길동', '파이썬학과'])

In [ ]:
# 딕셔너리명.items() : 튜플 형태로 구할 수 있다.
student1.items()

dict_items([('학번', 2000), ('이름', '홍길동'), ('학과', '파이썬학과')])

In [ ]:
# 딕셔너리 안에 해당 키가 있는지 없는지 in을 사용해 확인
print('이름' in student1)
print('주소' in student1)

True
False

In [ ]:
# Code 07-08
singer = {}

singer['이름'] = '트와이스'
singer['구성원수'] = 9
singer['데뷰'] = '서바이벌 식스틴'
singer['대표곡'] = 'SIGNAL'

for k in singer.keys() :
    print('%s --> %s' % (k, singer[k]))

이름 --> 트와이스
구성원수 --> 9
데뷰 --> 서바이벌 식스틴
대표곡 --> SIGNAL

### 딕셔너리의 정렬

In [ ]:
# Code 07-09
# 각 결과는 튜플로 변경되며 리스트로 반환된다.
import operator

trainDic, trainList = {}, []

trainDic = {'Thomas':'토마스', 'Edward':'에드워드', 'Henry':'헨리', 'Gothen':'고든', 'James':'제임스'}
trainList = sorted(trainDic.items(), key=operator.itemgetter(0))

print(trainList)

[('Edward', '에드워드'), ('Gothen', '고든'), ('Henry', '헨리'), ('James', '제임스'), ('Thomas', '토마스')]

In [ ]:
# Code 07-10
## 변수 선언 부분 ##
foods = {"떡볶이" : "오뎅", 
         "짜장면" : "단무지",
         "라면"   : "김치",
         "피자"   : "피클",
         "맥주"   : "땅콩",
         "치킨"   : "치킨무",
         "삼겹살" : "상추" };

## 메인 코드 부분 ##
while (True) :
    myfood = input(str(list(foods.keys())) + " 중 좋아하는 음식은?")
    if myfood in foods :
        print("<%s> 궁합 음식은 <%s>입니다." % (myfood, foods.get(myfood)))
    elif myfood == "끝" :
        break
    else :
        print("그런 음식이 없습니다. 확인해 보세요.")

['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살'] 중 좋아하는 음식은?삼겹살
<삼겹살> 궁합 음식은 <상추>입니다.
['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살'] 중 좋아하는 음식은?끝

In [ ]:
# SELF-STUDY 7-5
# Code 07-10 수정해 동물의 어미와 새끼의 이름을 딕셔너리로 묶는 프로그램을 작성
## 변수 선언 부분 ## 
animals = { "개" : "강아지", 
              "호랑이" : "개호주",
              "곰" : "능소니",
              "말" : "망아지",
              "닭" : "병아리",
              "고등어" : "고도리",
              "명태" : "노가리" };

## 메인 코드 부분 ## 
while (True) :
    myPet = input( str(list(animals.keys())) + " 중 새끼 이름을 알고 싶은 동물은? " )
    if myPet in animals :
        print("<%s>의 새끼는 <%s>입니다." %(myPet, animals.get(myPet)))
    elif myPet == "끝" :
        break
    else :
        print("그런 동물이 없습니다. 확인해 보세요. ")

['개', '호랑이', '곰', '말', '닭', '고등어', '명태'] 중 새끼 이름을 알고 싶은 동물은? 호랑이
<호랑이>의 새끼는 <개호주>입니다.
['개', '호랑이', '곰', '말', '닭', '고등어', '명태'] 중 새끼 이름을 알고 싶은 동물은? 끝

# 4. 리스트, 튜플, 딕셔너리의 심화 내용

### 세트 (Set)
- 키만 모아 놓은 딕셔너리의 특수한 형태
- 딕셔너리의 키는 중복되면 안 되므로 세트에 들어 있는 값은 항상 유일하다.
- 세트를 생성하려면 딕셔너리처럼 중괄호 {}를사용하지만 : 없이 값을 입력한다.
- 리스트, 튜플, 딕셔너리 등을 세트로 변경시켜 준다.
- 딕셔너리와 마찬가지로 별도의 순서로 지정되지 않는다.

In [ ]:
mySet1 = {1, 2, 3, 3, 3, 4}
print(mySet1)

{1, 2, 3, 4}

In [ ]:
saleList = ['삼각김밥', '바나나', '도시락', '삼각김밥', '삼각김밥', '도시락', '삼각김밥']
print(set(saleList))

{'바나나', '삼각김밥', '도시락'}

In [ ]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {4, 5, 6, 7}

print(mySet1 & mySet2) # 교집합
print(mySet1 | mySet2) # 합집합
print(mySet1 - mySet2) # 차집합
print(mySet1 ^ mySet2) # 대칭 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

In [ ]:
print(mySet1.intersection(mySet2)) # 교집합
print(mySet1.union(mySet2)) # 합집합
print(mySet1.difference(mySet2)) # 차집합
print(mySet1.symmetric_difference(mySet2)) # 대칭 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

### 컴프리헨션 (Comprehension : 함축)
- 값이 순차적인 리스트를 한 줄로 만드는 간단한 방법
- 리스트 = [수식 for 항목 in range() if 조건식]

In [ ]:
# numList = []
# for num in range(1, 6):
#     numList.append(num,)
# numList

numList = [num for num in range(1, 6)]
numList

[1, 2, 3, 4, 5]

In [ ]:
# 1~5의 제곱으로 구성된 리스트
numList = [num * num for num in range(1, 6)]
numList

[1, 4, 9, 16, 25]

In [ ]:
# 1~20 숫자 중에서 3의 배수로만 리스트를 구성하는 방법
numList = [num for num in range(1, 21) if num % 3 == 0]
numList

[3, 6, 9, 12, 15, 18]

### 동시에 여러 리스트에 접근 : zip() 함수 이용

In [ ]:
foods = ['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']
sides = ['오뎅', '단무지', '김치']
for food, side in zip(foods, sides):
    print(food, ' --> ', side)

떡볶이  -->  오뎅
짜장면  -->  단무지
라면  -->  김치

In [ ]:
foods = ['떡볶이', '짜장면', '라면', '피자', '맥주', '치킨', '삼겹살']
sides = ['오뎅', '단무지', '김치']
tupList = list(zip(foods, sides))
dic = dict(zip(foods, sides))
print(tupList)
print(dic)

[('떡볶이', '오뎅'), ('짜장면', '단무지'), ('라면', '김치')]
{'떡볶이': '오뎅', '짜장면': '단무지', '라면': '김치'}

### 리스트의 복사

In [ ]:
# 얕은 복사
oldList = ['짜장면', '탕수육', '군만두']
newList = oldList
print(newList)

oldList[0] = '짬뽕'
oldList.append('깐풍기')
print(newList)
print(oldList)

['짜장면', '탕수육', '군만두']
['짬뽕', '탕수육', '군만두', '깐풍기']
['짬뽕', '탕수육', '군만두', '깐풍기']

In [ ]:
# 깊은 복사
oldList = ['짜장면', '탕수육', '군만두']
newList = oldList[:] # 메모리 공간을 복사해서 새로 만든다 : 깊은 복사# 깊은 복사
print(newList)

oldList[0] = '짬뽕'
oldList.append('깐풍기')
print(newList)
print(oldList)

['짜장면', '탕수육', '군만두']
['짜장면', '탕수육', '군만두']
['짬뽕', '탕수육', '군만두', '깐풍기']

### 리스트를 이용한 스택 구현

스택 (stack) : 한 쪽 끝이 막혀 먼저 들어간 것이 가장 나중에 나오는 형태의 자료구조

In [ ]:
parking = []
top = 0

parking.append('자동차A') # A
top += 1

parking.append('자동차B') # A B
top += 1

parking.append('자동차C') # A B C
top += 1

top -= 1
outCar = parking.pop()
print(outCar)

자동차C